<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="charset=UTF-8"/>
	{%- block master_head -%}
	{%- endblock -%}
	<title>
		{%- block master_title -%}
			Viur Control
		{%- endblock -%}
	</title>
{#	<link rel="stylesheet" type="text/css" media="screen" href="/static/css/reset.css"/>#}
	<link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css"/>
	<script type="application/javascript" src="/static/javascript/jquery-2.2.1.min.js"></script>
	<script type="application/javascript" src="/static/javascript/app.js"></script>
	{%- block scripts -%}
	{%- endblock scripts -%}
</head>

<body>
<header>
	<a href="/" class="logo"><img width="111" height="50" class="v-logo" src="/static/img/viur.png">C0ntr0l</a>
	{%- block header -%}
	{%- endblock header -%}
</header>
<div class="container">
	{% block contents -%}
	{% endblock -%}
</div>


</body>
</html>
