{%- extends "master.jinja" -%}


{%- block scripts -%}
	<script type="application/javascript">
		var autoscroll_on = true;
		var source = new EventSource("/{{ target_stream }}");

		source.addEventListener('message', function (e) {
			var data = e.data;
			if (data == "---closestream---")
				window.close();
			$("#output").append(e.data + '<br/>');
			if (autoscroll_on) {
				$("body").scrollTop($("html").height());
			}
		}, false);

		source.addEventListener('error', function (e) {
			if (e.readyState == EventSource.CLOSED) {
				$("#output").html("Stream Error occured - closed<br/>");
			}
			if (autoscroll_on) {
				$("body").scrollTop($("html").height());
			}
			source.close();
		}, false);
		$(document).ready(function () {
			$(".clearStream").on("click", function () {
				$("#output").html("");
			});
			$("#toggle-autoscroll").on("click", function () {
				autoscroll_on = !autoscroll_on;
				$(this).toggleClass("active");
			});

			$(window).bind("beforeunload", function() {
				$.get("/closestream/{{ digest }}/{{ log_handle }}");
			});
		});
	</script>
{%- endblock scripts -%}

{%- block master_title %}
	Viur Control - {{ log_title }}
{%- endblock -%}

{%- block header -%}
	<div class="config">
		<a class="config-button clearStream" href="javascript:void(0);">Clear output</a>
		<a id="toggle-autoscroll" class="config-button autoscroll-toggle active" href="javascript:void(0);" title="toggles autoscroll">toggle autoscroll</a>
	</div>
{%- endblock header -%}


{%- block contents -%}
	<div id="output" class="output"></div>
{%- endblock -%}
