{% extends "master.jinja" %}

{%- block header -%}
	<div class="config">
		<a href="/status" class="config-button status-button" title="show all projects internal data as json list"
		   target="_blank">
			{#-			<img width="30px" height="30px" src="/static/img/refresh.svg">-#}
			Status</a>
		<a href="/reset" class="config-button reset-button" title="stops all current tasks and reloads all projects">
			<img width="15px" height="15px" src="/static/img/refresh.svg" class="icon">Reset all</a>
		<a href="/settings" class="config-button settings-button" title="customize your vpc instance">
			<img width="15px" height="15px" src="/static/img/settings.svg" class="icon">Settings</a>
	</div>
{%- endblock header -%}

{% block contents %}
	{%- for project in projects -%}
		<div class="row">
			<div class="col-md-12 project">
				<h2>{{ project.name }}</h2>
				<div class="version">
					... in {{ project.relpath }}
				</div>
				<div class="version">
					<label for="version-input-{{ project.digest }}" class="version-label">Version</label>
					<input id="version-input-{{ project.digest }}" class="version-input" value="{{ project.version }}"
					       readonly="readonly">
				</div>
				{%- if project.username %}
					<div class="version">
						<label for="username-input-{{ project.digest }}" class="username-label">Username</label>
						<input id="username-input-{{ project.digest }}" class="username-input"
						       value="{{ project.username }}" size="55" readonly="readonly">
						<label for="password-input-{{ project.digest }}" class="password-label">Password</label>
						<input id="password-input-{{ project.digest }}" class="password-input"
						       value="{{ project.password }}" readonly="readonly">
					</div>
				{%- endif %}
				<div class="ctl">
					{%- set show_ext_ctl = currentProject and project.digest == currentProject.digest -%}
					<a href="javascript:void(0);"
					   class="ctl-button ctl-server-toggle {{ show_ext_ctl and "active" or "" }}" data-digest="{{ project.digest }}">{{ show_ext_ctl and "Stop" or "Start" }}</a>
					<a href="/build_vi/{{ project.digest }}" class="ctl-button ctl-button-buildvi" target="_blank">Build
							Vi</a>
						<a href="/deploy_project/{{ project.digest }}" class="ctl-button ctl-button-deploy"
						   target="_blank">Deploy</a>
						<a href="https://{{ project.version }}-dot-{{ project.name }}.appspot.com"
						   class="ctl-button ctl-button-show-deployed"
						   target="_blank">Show deployed Version</a>
						<div class="clear"></div>

						<div id="ctl-current-{{ project.digest }}" class="ctl-current {{ show_ext_ctl and "active" or "" }}">
							<a href="http://localhost:{{ server_port }}/" class="ctl-button server-open-toggle"
							   target="_blank">Open</a>
							<a href="http://localhost:{{ server_port }}/vi" class="ctl-button startvi-toggle"
							   target="_blank">Start Vi</a>
							<a href="javascript:void(0);"
							   class="ctl-button serverlog {{ "server_proc_log" in project and "active" or "" }}">Log</a>
							<a href="http://localhost:{{ admin_port }}" class="ctl-button ctl-button-openadmin"
							   target="_blank">Server Console</a>
						</div>
				</div>
			</div>
		</div>
	{%- endfor %}
{% endblock %}
