{%- extends "master.jinja" -%}

{%- block master_title -%}
	Viur Control - Settings
{%- endblock -%}


{%- block header -%}
	<div class="config">
		<a href="/" id="back-button" class="config-button home-button">Back</a>
		<a href="javascript:void(0);" id="save-settings" class="config-button settings-button">Save</a>
	</div>
{%- endblock header -%}

{%- block contents -%}
	<div class="settings">
		<H1>Settings</H1>
		<form id="settings-form" action="/settings" method="post">
			<ul class="settings-ul">
				<li class="settings-li">
					<label class="settings-label" for="projects-directory">Projects Directory</label>
					<input id="projects-directory" name="projects_directory" value="{{ projects_directory }}" size="30">
				</li>
				<li class="settings-li">
					<label class="settings-label" for="google_sdk_path">Google Appengine SDK directory</label>
					<input id="google_sdk_path" name="google_sdk_path" value="{{ google_sdk_path }}" size="30">
				</li>
				<li class="settings-li">
					<label class="settings-label" for="real-server-port"
					       title="This is the port whe are starting the project dev server">Project Server Port</label>
					<input id="real-server-port" type="number" name="real_server_port" maxlength="5"
					       value="{{ real_server_port }}"
					       max="65535" class="settings-port-field">
				</li>
				<li class="settings-li">
					<label class="settings-label" for="real-admin-port"
					       title="This is the port whe are starting the project dev admin console">Project Admin
						Port</label>
					<input id="real-admin-port" type="number" name="real_admin_port" maxlength="5"
					       value="{{ real_admin_port }}"
					       max="65535" class="settings-port-field">
				</li>
				<li class="settings-li">
					<label class="settings-label" for="frontend-server-port"
					       title="In case of running in a docker container on windows use the appropriate port specified in your kinectic config">Frontend
						Server Port</label>
					<input id="frontend-server-port" type="number" name="frontend_server_port" maxlength="5"
					       value="{{ frontend_server_port }}"
					       max="65535" class="settings-port-field">
				</li>
				<li class="settings-li">
					<label class="settings-label" for="frontend-admin-port"
					       title="In case of running in a docker container on windows use the appropriate port specified in your kinectic config">Frontend
						Admin Port</label>
					<input id="frontend-admin-port" type="number" name="frontend_admin_port" maxlength="5"
					       value="{{ frontend_admin_port }}"
					       max="65535" class="settings-port-field">
				</li>
				<li class="settings-li">
					<label class="settings-label" for="close-server">Close server log window on end of stream</label>
					<input id="close-server" type="checkbox" name="close_server" {{ "checked" if close_server }}
					       value="1">
				</li>
				<li class="settings-li">
					<label class="settings-label" for="close-build">Close build log window on end of stream</label>
					<input id="close-build" type="checkbox" name="close_build" {{ "checked" if close_build }} value="1">
				</li>
				<li class="settings-li">
					<label class="settings-label" for="close-deploy">Close deploy log window on end of stream</label>
					<input id="close-deploy" type="checkbox" name="close_deploy" {{ "checked" if close_deploy }}
					       value="1">
				</li>
			</ul>
		</form>
	</div>

{%- endblock contents -%}