body {
    margin: 0 auto;
    font-family: 'Source Sans Pro', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f5f5f5;
}

div.container {
    width: 98%;
    margin: 0 auto 40px;
    padding-top: 80px;
}

header {
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, .5);
    -moz-box-shadow: 0 0 5px 2px rgba(50, 50, 50, .5);
    height: 60px;
}

a.logo {
    display: inline-block;
    color: black;
    font-size: 42px;
    font-weight: bold;
    vertical-align: bottom;
    font-family: "Lucida Console", Monaco, monospace;
}

img.v-logo {
    display: inline-block;
    height: 50px;
    padding-right: 5px;
}


div.row {
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.065);
    padding: 5px 5px;
    transition: all 0.5s ease;
}

div.row:last-of-type {
    border-bottom: 1px solid rgba(0, 0, 0, 0.065);
}

div.row:hover {
    background-color: rgba(0, 0, 0, 0.02);
}

div.version {
    display: block;
    padding: 5px 0;
}

h2 {
    margin: 0;
    font-size: 1.7em;
}

h3 {
    font-size: 1.2em;
    margin: 3px 0 10px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400;
}

.output {
    font-family: "Lucida Console", Monaco, monospace;
}

div.project {
    position: relative;
}

div.ctl {
    position: absolute;
    top: 5px;
    right: 0;
}

div.config {
    position: absolute;
    top: 20px;
    right: 0;
}

div.ctl-current {
    display: none;
    position: absolute;
    top: 35px;
    transition: all 0.5s ease;
}

div.ctl-current.active {
    display: block;
    height: 30px;
    transition: all 0.5s ease;
}

div.log-ctl {
    display: block;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 10px;
}

a.ctl-button, a.config-button {
    border-radius: 5px;
    float: left;
    color: #000;
    padding: 5px 5px;
    margin-right: 5px;
    text-decoration: none;
    background-color: #f5f5f5;
    border: 1px inset black;
}

a.ctl-button.active, a.config-button.active {
    background-color: #999999;
}

a.ctl-button:hover, a.config-button:hover, a.ctl-button.active:hover, a.config-button.active:hover  {
    background-color: #c5c5c5;
}

a.ctl-server-toggle {
    background-color: #8BC34A;
    color: #fff;
    transition: all 0.5s ease;
}

a.ctl-server-toggle:hover {
    background-color: #689F38;
    color: #fff;
}

a.ctl-server-toggle.active {
    background-color: #F44336;
    color: #fff;
    transition: all 0.5s ease;
}

a.ctl-server-toggle.active:hover {
    background-color: #D32F2F;
    color: #fff;
}

img.icon {
    vertical-align: middle;
    padding-right: 2px;
}

span.info {
    color: black;
    font-weight: bold;
    width: 5em;
    display: inline-block;
}

span.debug {
    color: #4e46fc;
    font-weight: bold;
    width: 5em;
    display: inline-block;
}

span.warning {
    color: #FF9800;
    font-weight: bold;
    width: 5em;
    display: inline-block;
}

span.error {
    color: #F44336;
    font-weight: bold;
    width: 5em;
    display: inline-block;
}

.settings {
    display: block;
    position: relative;
    overflow: hidden;
    width: 50%;
    left: 23%;
    border: 1px outset black;
    padding: 5px;
    text-align: center;
}

.settings-label {
    padding-right: 10px;
}

.settings-ul {
    padding: 0;
}

.settings-li {
    list-style: none;
}

.settings-port-field {
    width: 5em;
}
